.bg{
    width: 100%;
    height: 100vh;
    background-color: black;
    position: absolute;
    z-index: 3;
    position: fixed;
}
.bg1{
    width: 100%;
    height: 100vh;
    background-color: black;
    position: absolute;
    top: -1500px;
    z-index: 4;
    position: fixed;
  
}
.bg2{
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    top: -1500px;
    position: fixed;
}
.imageWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.imageWrapper img{
    width: 500px;
    margin: auto;
    display: block;
    opacity: 0;
    position: relative;
    left: -20px;
}

@media screen and (max-width:430px){
    .imageWrapper img{
        width: 300px;
        text-align: center;
    }
}